#%RAML 1.0
---

title: Compliance Documents
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: [ application/json ]

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml
  correlationIDHeader: headers/CorrelationIDHeader.raml

/misc/compliance-documents:
  /vat-repayment-info:
    /{document-id}:
      uriParameters:
        document-id:
          description: A string representation of an integer in the range 0 to 18439999999999999999.
          type: string
          pattern: ^(([0-9]{1,19})|(1[0-7][0-9]{18})|(18[0-3][0-9]{17})|(184[0-3][0-9]{16}))$
          example: 18439999999999999999
      post:
        displayName: post-document-api

        description: Passing VAT repayment data to integration framework

        is: [headers.acceptHeader, headers.contentHeader, correlationIDHeader.correlationID]

        (annotations.scope): "write:protect-connect"
        securedBy: [ sec.x-application: { scopes: [ "write:protect-connect" ] } ]

        body:
          application/json:
            type: !include schemas/VatDocumentSchema.json
            examples:
              example-1:
                description: example EF document body
                value: !include examples/CreateVATDocumentEFExample.json
              example-2:
                description: example NReg document body
                value: !include examples/CreateVATDocumentNRegExample.json
              example-3:
                description: example PReg document body
                value: !include examples/CreateVATDocumentPRegExample.json
        responses:
          202:
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  example-1:
                    description: The document payload provided was invalid.
                    value:
                      code: INVALID_PAYLOAD
                  example-2:
                    description: An expected field has an invalid value.
                    value:
                      code: INVALID_FIELD
                  example-3:
                    description: An expected field is missing.
                    value:
                      code: MISSING_FIELD
                  example-4:
                    description: An unexpected field was found.
                    value:
                      code: UNEXPECTED_FIELD
                  example-5:
                    description: The correlation ID provided is invalid.
                    value:
                      code: INVALID_CORRELATION_ID
                  example-6:
                    description: The correlation ID wasn't provided.
                    value:
                      code: MISSING_CORRELATION_ID
                  example-7:
                    description: The document ID provided is invalid.
                    value:
                      code: INVALID_DOCUMENT_ID
                  example-8:
                    description: The document payload provided is invalid.
                    value:
                      code: INVALID_PAYLOAD
                  example-9:
                    description: The payload provided is not a proper Json object.
                    value:
                      code: INVALID_JSON_TYPE
          401:
            body:
              application/json:
                type: types.errorResponse
                example:
                  description: The credentials used are invalid.
                  value:
                    code: UNAUTHORIZED
          500:
            body:
              application/json:
                type: types.errorResponse
                example:
                  description: Internal server error.
                  value:
                    code: INTERNAL_SERVER_ERROR
